doctype html
html(lang='en')
  head
    link(rel='manifest', href='manifest.json')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title Hacker News :: mithril + spectre
    meta(name='theme-color', content='#5764c6')
    link(rel='shortcut icon' href='favicon.ico')
  body
    #navigation.tab.tab-block
      .tab-item.active 
        a(href="#!/", data-link='news') News
      .tab-item
        a(href="#!/newest/1", data-link='newest') Newest
      .tab-item
        a(href="#!/ask/1", data-link='ask') Ask
      .tab-item
        a(href="#!/show/1", data-link='show') Show
      .tab-item
        a(href="#!/jobs/1", data-link='jobs') Jobs
    #container
    script(src='https://unpkg.com/mithril@1.1.1/mithril.min.js')
    //- script(src='ext/mithril.js')
    script(src='main.js')
