#navigation.tab {
  margin-top: 0;
  .tab-item.active a {
    color: #000;
    font-weight: bold;
  }
  .tab-item a {
    color: #000;
  }
}

$size: 1.6rem;
$primary-color: #5764c6;
.loading {
  color: transparent !important;
  min-height: $size*2;
  pointer-events: none;
  position: relative;
  &::after {
    animation: loading 500ms infinite linear;
    border: .2rem solid $primary-color;
    border-radius: $size;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: $size*2;
    left: 50%;
    margin-left: -$size;
    margin-top: -$size;
    position: absolute;
    top: 50%;
    width: $size*2;
    z-index: 1;
  }
}

.news-item:nth-child(even) {
  background: #fafafa;
}
